@using MarketingAds.Models;
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Update Category</h5>
            <button type="button" class="btn-close" aria-label="Close" @onclick="hideUpdate"></button>
        </div>
        <div class="modal-body">
            <RadzenTemplateForm Data="@updateCategory" TItem="Category" Submit="@UpdateCategoryBtn">
                <div class="rz-p-0 rz-p-md-12">


                    <RadzenRow Gap="1rem">
                        <RadzenColumn Size="12">
                            <RadzenStack>
                                <RadzenFormField Text="Category Name:" Variant="Variant.Filled">
                                    <ChildContent>
                                        <RadzenTextBox @bind-Value="updateCategory.CategoryName" Name="CategoryName"  Style="width: 100%;" />
                                    </ChildContent>
                                    <Helper>
                                        <RadzenRequiredValidator Component="CategoryName" Text="Category name is required." />
                                    </Helper>
                                </RadzenFormField>

                                <RadzenFormField Text="Status:" Variant="Variant.Filled">
                                    <ChildContent>
                                        <RadzenDropDown @bind-Value="updateCategory.StatusId" Data="@statusOptions" TextProperty="Name" ValueProperty="Id" Name="StatusId" Style="width: 100%;" Required="true" />
                                    </ChildContent>
                                    <Helper>
                                        <RadzenRequiredValidator Component="StatusId" Text="Status is required." />
                                    </Helper>
                                </RadzenFormField>

                                <RadzenButton Text="Update" ButtonStyle="ButtonStyle.Primary"  />
                            </RadzenStack>
                        </RadzenColumn>
                    </RadzenRow>

                </div>
            </RadzenTemplateForm>
        </div>


    </div>
</div>
@code {
    [Parameter]
    public Category? updateCategory { get; set; }
    [Parameter]
    public EventCallback UpdateCategoryBtn { get; set; }
    [Parameter]
    public EventCallback hideUpdate { get; set; }
    [Parameter]
    public List<Status> statusOptions { get; set; }

}
