@inherits LayoutComponentBase
<HeaderComponent/>
<div class="d-flex justify-content-center">
    <div id="sidebar" class="col-3">
        <h5 class="text-center">Account</h5>
        <a href="/product">My ads</a>
        <a href="#">My membership</a>
        <a href="#">Saved searches</a>
        <a href="#">Favorites</a>
        <a href="#">Settings</a>
        <a href="#">Phone Numbers</a>
        <hr>
        <h5 class="text-center">Jobs</h5>
        <a href="#">My Profile</a>
        <a href="#">Profile Database</a>
    </div>
    <div class="col-9" style="margin-left:20px;">
        @Body
    </div>
</div>
<FooterComponent />
