@inherits LayoutComponentBase
<HeaderComponent/>
<div class="d-flex justify-content-center">
    <div id="sidebar" class="col-3">
        <h5 style="margin-left:20px;" class="mt-2">Account</h5>
        <a href="user/product">My ads</a>
        <a href="user/profile">My Profile</a>
    </div>
    <div class="col-9" style="margin-left:20px;">
        @Body
    </div>
</div>
<FooterComponent />
<RadzenDialog />
