@using MarketingAds.Models;
@using MarketingAds.Components.Product;
@using MarketingAdsLibrary.Services;
@using MarketingAds.Components.Product;
@using MarketingAds.Pages;
@using System.Security.Claims
@inject ProductService productService
@inject DialogService DialogService
@inject StatusService statusService
@inject CategoryService categoryService
@inject ImageUploadService imageUpload
@inject LocationService locationService
@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager navigationManager;
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>

            </ul>

                <a class="nav-link" href="./login">Login</a>
           
                <button class="btn btn-primary" type="button" @onclick="HandlePostListingClick">Post Listing</button>
 
        </div>
    </div>
</nav>

<div>
    @if (isPostListingClicked )
    {
        if (userRole  != null)
        {
            navigationManager.NavigateTo("Add-Product", true);
        }
        else
        {
            navigationManager.NavigateTo("/Login");

        }
    }
     
</div>




@code{
    bool showModal = false;
    bool DeleteModel = false;
    bool EditModal = false;
    public int? userId { get; set; }
    public string? userRole { get; set; }
    bool isPostListingClicked = false;
    public int radiobtnValue { get; set; } = 1;
    private List<Status> statusOptions = new List<Status>();
    private List<Category> categoryOptions = new List<Category>();
    private List<Location> LocationOptions = new List<Location>();
    private string imagePath;
    private string loginText { get; set; } = "Login";
    private string loginLink { get; set; } = "login";

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            userId = Int32.Parse(user.Claims.FirstOrDefault(c => c.Type == "UserId")?.Value);
            userRole = user.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value;
            loginText = "Account";


        }

    }
    private void HandleLoginClick()
    {
        if (userRole == "Admin")
        {
            navigationManager.NavigateTo("/admin/status");
        }
        else if (userRole == "Buyer")
        {
            navigationManager.NavigateTo("/user/product");
        }
        else
        {
            navigationManager.NavigateTo(loginLink);
        }
    }
    private async Task HandleImagePathChanged(string newPath)
    {
        imagePath = newPath;
        StateHasChanged(); // Ensure UI updates with new imagePath
    }

    public Listing product = new Listing();
    public Listing? productUpdate = new Listing();
    private void HandlePostListingClick()
    {
        isPostListingClicked=true;
       
    }

    void HideModal()
    {
        showModal = false;
        product = new Listing();

    }
    void hideDelete()
    {
        DeleteModel = false;
    }

    void hideUpdate()
    {
        EditModal = false;

    }
    async Task showModel()
    {
        statusOptions = await statusService.GetStatus();
        categoryOptions = await categoryService.GetCategory();
        LocationOptions = await locationService.GetLocation();

        showModal = true;
    }

    async Task UpdateProduct(int productId)
    {
        // Call the service method with the parsed memberId
        var roleMember = await productService.GetProductById(productId);
        statusOptions = await statusService.GetStatus();
        categoryOptions = await categoryService.GetCategory();
        LocationOptions = await locationService.GetLocation();

        EditModal = true;
        if (roleMember != null)
        {
            productUpdate = new Listing()
                {
                    ListingID = roleMember.ListingID,
                    Title = roleMember.Title,
                    Description = roleMember.Description,
                    CategoryID = roleMember.CategoryID,
                    UserID = roleMember.UserID,
                    Price = roleMember.Price,
                    LocationID = roleMember.LocationID,
                    Condition = roleMember.Condition,
                    StatusId = roleMember.StatusId

                };

        }
        else
        {

        }
    }

    public async Task ShowConfirmationDialog()
    {
        bool? result = await DialogService.Confirm("Are you sure?", "MyTitle", new ConfirmOptions()
            {
                OkButtonText = "Delete",
                CancelButtonText = "Cancel"
            });

        if (result == true)
        {
            // await DeleteConfirmed();
        }
        else
        {
            hideDelete();
        }
    }

    async Task SaveProduct()
    {
        product.Condition = radiobtnValue == 1 ? "Used" : "New";
        product.UserID = userId;
        product.Condition = product.Condition;
        product.PostedDate = DateTime.Now;
        var result = await productService.AddProduct(product, imagePath);
        await InvokeAsync(StateHasChanged);
        showModal = false;
        radiobtnValue = 1;

    }

    // protected async Task DeleteProduct(int roleId)
    // {
    //     roleToDelete = roleId;
    //     DeleteModel = true;
    //     ShowConfirmationDialog();
   

    string ModalStyle => showModal ? "display: block;" : "display: none;";
    string DeleteModalStyle => DeleteModel ? "display: block;" : "display: none;";
    string EditModalStyle => EditModal ? "display: block;" : "display: none;";

}
