@page "/testing"
@layout DashboardLayout

<h2>Explore with Emon</h2>
<div class="card">
    <div class="card-body text-center">
        <p>You don't have any ads yet.</p>
        <p>Click the Post an ad now! button to post your ad.</p>
        <button class="btn btn-warning">Post your ad now!</button>
    </div>
</div>
