@using MarketingAdsLibrary.Services;
@inject CategoryService categoryService;
@using MarketingAds.Models

<div class="container d-flex mt-5">
    @if (categories != null)
    {
        @foreach (var category in categories)
        {
            <div class="d-inline-flex justify-content-between border rounded shadow-sm mb-3" style="border-width: 1px; width: 250px;">
                <div>
                    <img src="./css/open-iconic/image/iphone.jpg" height="56" class="card-img-top" alt="Category Image">
                </div>
                <div class="text-end" style="padding-right: 8px;">
                    <h5 class="card-title">@category.CategoryName</h5>
                    <p class="card-text">236 Listings</p>
                </div>
            </div>
        }
    }
</div>


    

@code {
    List<Category> categories;
    protected override async Task OnInitializedAsync()
    {
        categories = await categoryService.GetCategory();

    }



}
