@inherits LayoutComponentBase
@using MarketingAds.Auth;
@using MarketingAds.ClientSide.Component;
@inject AuthStateProvider AuthStateProvider
@using System.Security.Claims
@inject NavigationManager NavigationManager
<PageTitle>MarketingAds</PageTitle>

@if (!NavigationManager.Uri.Contains("/admin/"))
{
    <HeaderComponent />
}
<div class="page">
    <AuthorizeView Roles="Admin">
        <Authorized>
@if (NavigationManager.Uri.Contains("/admin/"))
{
            <div class="sidebar">
                <NavMenu />

            </div>
}
        </Authorized>

    </AuthorizeView>
    
    <main>
       

        <article class="content px-4">
            @Body
        </article>
    </main>
 

</div>
@if (!NavigationManager.Uri.Contains("/admin/"))
{
    <FooterComponent/>
}
<RadzenDialog />
@code{


    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            var userRole = user.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value;
            if (userRole == "Admin")
                if (NavigationManager.Uri == "https://localhost:7209/")
                {
                    NavigationManager.NavigateTo("/admin/Status"); // Navigate to Status page
                }

        }

    }

}