@inherits LayoutComponentBase
@using MarketingAds.Auth;
@inject AuthStateProvider AuthStateProvider
@using System.Security.Claims
@inject NavigationManager NavigationManager
<PageTitle>MarketingAds</PageTitle>

<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu />

            </div>
        </Authorized>
      

    </AuthorizeView>
    
    <main>
       

        <article class="content px-4">
            @Body
        </article>
    </main>
 

</div>
<RadzenDialog />
@code{


    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            var userRole = user.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value;
            if (userRole == "Admin")
                if (NavigationManager.Uri == "https://localhost:7209/")
                {
                    NavigationManager.NavigateTo("Status"); // Navigate to Status page
                }

        }

    }

}