<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MarketingAds</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <AuthorizeView Roles="Admin">
        <Authorized>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Status" Match="NavLinkMatch.Prefix">
                    <span class="oi oi-home" aria-hidden="true"></span> Status
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Category" Match="NavLinkMatch.Prefix">
                    <span class="oi oi-home" aria-hidden="true"></span> Category
                </NavLink>
            </div>
        </Authorized>
    </AuthorizeView>

    


          <AuthorizeView Roles="buyer">
            <Authorized>
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
                    <NavLink class="nav-link" href="UserDetails">
                        <span class="oi oi-plus" aria-hidden="true"></span> UserDeails
            </NavLink>

        </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="AnotherComponentComponent">
                        <span class="oi oi-plus" aria-hidden="true"></span> AnotherComponentComponent
                    </NavLink>

                </div>
                
       
    </nav>
            </Authorized>
        </AuthorizeView>





</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
