@inherits LayoutComponentBase
@using MarketingAds.Auth;
@inject AuthStateProvider AuthStateProvider
@using System.Security.Claims
@inject NavigationManager NavigationManager
@inject IJSRuntime js
@using MarketingAds.ClientSide.Component;

    <AuthorizeView Roles="Admin">
        <Authorized>
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">MarketingAds</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Status" Match="NavLinkMatch.Prefix">
                    <span class="oi oi-circle-check" aria-hidden="true"></span> Status
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Category" Match="NavLinkMatch.Prefix">
                    <span class="oi oi-tags" aria-hidden="true"></span> Category
                </NavLink>
            </div>
         <div class="nav-item px-3">
                <NavLink class="nav-link" href="User" Match="NavLinkMatch.Prefix">
                    <span class="oi oi-person" aria-hidden="true"></span> User
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Location" Match="NavLinkMatch.Prefix">
                    <span class="oi oi-map-marker" aria-hidden="true"></span> Location
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Product" Match="NavLinkMatch.Prefix">
                    <span class="oi oi-box" aria-hidden="true"></span> Product
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link">
                    <button class="btn btn-danger" @onclick="Logout">Log out</button>
                </NavLink>
            </div>
            
</div>
        </Authorized>
        

    </AuthorizeView>

   






@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }



    private async Task Logout()
    {

        await AuthStateProvider.UpdateAuthenticationState(null);
        await js.InvokeVoidAsync("localStorage.clear");
        NavigationManager.NavigateTo("/login", true);
    }
}
