@using MarketingAds.Models;
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Add Location</h5>
            <button type="button" class="btn-close" aria-label="Close" @onclick="HideModal"></button>
        </div>
        <div class="modal-body">
            <RadzenTemplateForm Data="@location" TItem="Location" Submit="@SaveLocation">
                <div class="rz-p-0 rz-p-md-12">
                    <RadzenRow Gap="1rem">
                        <RadzenColumn Size="12">
                            <RadzenStack>
                                <RadzenFormField Text="Location Name:" Variant="Variant.Filled">
                                    <ChildContent>
                                        <RadzenTextBox @bind-Value="location.LocationName" Name="LocationName"  Style="width: 100%;" />
                                    </ChildContent>
                                    <Helper>
                                        <RadzenRequiredValidator Component="LocationName" Text="Location name is required." />
                                    </Helper>
                                </RadzenFormField>

                                <RadzenFormField Text="Status:" Variant="Variant.Filled">
                                    <ChildContent>
                                        <RadzenDropDown @bind-Value="location.StatusId" Data="@statusOptions" TextProperty="Name" ValueProperty="Id" Name="StatusId" Style="width: 100%;"  />
                                    </ChildContent>
                                    <Helper>
                                        <RadzenRequiredValidator Component="StatusId" Text="Status is required." />
                                    </Helper>
                                </RadzenFormField>

                                <RadzenButton Text="Add" ButtonStyle="ButtonStyle.Primary" Type="Submit" />
                            </RadzenStack>
                        </RadzenColumn>
                    </RadzenRow>

                </div>
            </RadzenTemplateForm>

        </div>
    </div>
</div>
@code {
    [Parameter]
    public Location location { get; set; }
    [Parameter]
    public EventCallback HideModal { get; set; }
    [Parameter]
    public EventCallback SaveLocation { get; set; }
    [Parameter]
    public List<Location> allLocation { get; set; }
    [Parameter]
    public List<Status> statusOptions { get; set; }

}
