@using MarketingAds.Models;
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Update Status</h5>
            <button type="button" class="btn-close" aria-label="Close" @onclick="hideUpdate"></button>
        </div>
        <div class="modal-body">
            <RadzenTemplateForm Data="@updateStatus" TItem="Status" Submit="@UpdateStatusBtn">
                <div class="rz-p-0 rz-p-md-12">


                    <RadzenRow Gap="1rem">
                        <RadzenColumn Size="12">
                            <RadzenStack>
                                <RadzenFormField Text="Status Name:" Variant="Variant.Filled">
                                    <ChildContent>
                                        <RadzenTextBox @bind-Value="updateStatus.Name" Name="Name" Required="true" Style="width: 100%;" />
                                    </ChildContent>
                                    <Helper>
                                        <RadzenRequiredValidator Component="Name" Text="Status Name is required." />
                                    </Helper>
                                </RadzenFormField>

                                <RadzenFormField Text="Status ShortForm:" Variant="Variant.Filled">
                                    <ChildContent>
                                        <RadzenTextBox @bind-Value="updateStatus.ShorForm" Name="ShortForm"  Style="width: 100%;" />
                                    </ChildContent>
                                    <Helper>
                                        <RadzenRequiredValidator Component="ShortForm" Text="Status Short form is required." />
                                    </Helper>
                                </RadzenFormField>

                                <RadzenButton Text="Update" ButtonStyle="ButtonStyle.Primary" Type="Submit" />
                            </RadzenStack>
                        </RadzenColumn>
                    </RadzenRow>

                </div>
            </RadzenTemplateForm>
        </div>


    </div>
</div>
@code {
    [Parameter]
    public Status updateStatus { get; set; }
    [Parameter]
    public EventCallback UpdateStatusBtn { get; set; }
    [Parameter]
    public EventCallback hideUpdate { get; set; }

}
